<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjectZXC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F4C24651CD5E55600D3B0DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4C247D1CD5E55600D3B0DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4C24881CD5E55600D3B0DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
